.cabecalho {
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.aba {
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.oba {
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.uba {
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.eba {
    background-color:#0E0E0E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.apo {
    background-color:#0E0E0E;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    text-align: center;
    text-decoration-color: blue;
    text-decoration-line: none;
}
.example {
    text-align: center;
    ;
    scale: 100% 100%;
}